.home-section-container {
  width: min(90%, 80rem);
  min-height: min(40vh, 60rem);
  padding: 1rem;
  margin: 0 auto;
  border-width: 1px 0;
  border-style: dashed;
  border-color: var(--color-beige-400);
}

